
<div class="conatiner">
    <div class="row">
        <div class="col-6 offset-3">
            <form [formGroup]="loginForm" (ngSubmit)="isLoggedIn()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Please Enter Email</div>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
                    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Please Enter Password</div>
                </div>
                <button class="btn btn-primary mt-3" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>