
    <div class="row">
        <div class="col-3">
            <div class="sticky-top">
                <div class="list-group">
                    <a class="list-group-item action" [class.active]="!category" routerLink="/">All Category</a>
                    <a class="list-group-item list-group-item.action" 
                    *ngFor="let cat of categories" routerLink="/" [queryParams]="{category: cat.name}" [class.active]='category === cat.name'>{{cat.name}}</a>
                </div>
            </div>
        </div>
      <div class="col">
            <div class="row">
                <ng-container *ngFor="let product of filterProduct; let i = index">
                   <div class="col">
                    <div class="card">
                        <img [src]="product.imageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.price | currency}}</p>
                        </div>
                        <div class="card-footer">
                            <div>
                            <button class="btn btn-primary" (click)="addToCart(product)">Add To Card</button>
                            <ng-template #updateQuatntity>
                                <div *ngFor="let item of items">
                                <span class="btn btn-secondary" (click)="increamentQty(item)">+</span>
                                <span>{{item.quantity}}</span>
                                <span style="text-align: right;" class="btn btn-secondary" (click)="decreamentQuantity(product)">-</span>
                            </div>
                            </ng-template>
                            </div>
                        </div>
                    </div>
                   </div>
                   <div class="w-100" *ngIf="(i + 1) % 2 === 0"></div>
                </ng-container>
            </div>
    </div>
    </div>

